body {
    background-size: cover;
    background-image: linear-gradient(rgb(148, 175, 244),blue);
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
}

div {
    background: white;
    text-align: center;
}

#Username{
    width: fit-content;
    margin: auto;
    padding-top: 10%;
    background: none;
    padding-bottom: 1%;
}

#Password{
    width: fit-content;
    margin: auto;
    padding-bottom: 8%;
    background: none;
}

#sign-in-button {
    color: purple;
    background: white(255, 255, 255);
    outline: 2px solid black;
    margin: auto;
    display: flex;
    border-radius: 25px;
}

#sign-google {
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    background: none;
    border-radius: 25px;
    position: relative ;
}

#title {
    background: none;
    width:fit-content;
    padding-top: 2%;
    margin: auto;
    height: fit-content;
    font-size: 500%;
    font-family: cursive;
    font-weight: 300;
}

#sign-goo{
    margin: auto;
    width: fit-content;
    border-radius: 25px;
    outline: 2px solid black;
    position: relative;
    top: 5%;
}

body, html{
    height: 100%;
}

