body {
    background-size: cover;
    background-image: linear-gradient(rgb(148, 175, 244),blue);
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
}

div {
    background: white;
    text-align: center;
}

#Username{
    width: fit-content;
    margin: auto;
    padding-top: 10%;
    background: none;
    padding-bottom: 1%;
}

#Password{
    width: fit-content;
    margin: auto;
    padding-bottom: 8%;
    background: none;
}

#sign-in-button {
    color: purple;
    background: rgb(255, 255, 255);
    outline: 2px solid black;
    margin: auto;
    display: flex;
    align-content: center;
}

#sign-google {
    outline: 2px solid black;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    background: none;
    
    border-radius: 25px
}

#title {
    background: none;
    width:fit-content;
    padding-top: 2%;
    margin: auto;
    height: fit-content;
    font-size: xx-large;
}

#sign-goo{
    margin: auto;
    width: fit-content;
}

body, html{
    height: 100%;
}

